server:
  port: 8083
spring:
  application:
    name: comment-service

  datasource:
    url: jdbc:h2:mem:comment_service_db
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
